<div class="container">
  <h1>
    Hello World!
  </h1>
  <i class="fas fa-ad"></i>
  <%= link_to "Privacy Policy", privacy_policy_path, class: 'btn btn-lg btn-warning' %>
  <%= link_to privacy_policy_path, class: 'btn btn-lg btn-warning' do %>
    <i class="fas fa-file-word"></i>
    Privacy Policy
  <% end %>
</div>

