.container
  %h1
    Hello World!
  %i.fas.fa-ad
  = link_to "Privacy Policy", privacy_policy_path, class: 'btn btn-lg btn-warning'
  = link_to privacy_policy_path, class: 'btn btn-lg btn-warning' do
    %i.fas.fa-file-word
    Privacy Policy
